.navbar-brand {
    font: 400 32px "Krona One";
    color: #009381 !important;
}

.navbar-nav {
    font: 600 20px "Roboto";
    position: relative;
    left: -75px;
}

.nav-link {
    color: #5f6161 !important;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

.nav-link.active {
    color: #009381 !important;
}

.nav-item {
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 8px;
    background-color: #009381;
    border-radius: 40%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav-link:hover::after {
    opacity: 1;
    cursor: pointer;
}

.login {
    font: 600 20px "Roboto";
    color: #5f6161 !important;
    text-decoration: none;
    border: 2px solid #009381;
    padding: 4px 18px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.login:hover {
    cursor: pointer;
    background-color: #15a493;
    color: #fff !important;
}
